[Unit]
Description=Service de lancement d'Apache ManifoldCF

[Service]
WorkingDirectory=/opt/apacheManifolderCF/bin/
Type=simple
ExecStart=java -jar start.jar
Restart=always

[Install]
WantedBy=multi-user.target
